app/build/
google-services.json
*.keystore
# Android / Kotlin
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store

# Build
/build
/app/build


/captures
.externalNativeBuild
.cxx
local.properties


# Keystore
*.jks
*.keystore

# Firebase config
google-services.json

# Logs
*.log
